head{
    background: black;
}
body{
    font-family: sans-serif;
    background: #F2F2F2;
    
}
h1{
    color: white;
}
p{
    color: white;
}
input{
    margin-bottom:10px;
}

textarea{
    margin-bottom: 10px;
}
button{
    background-color: red;
}
#black-header{
    background-color: black;
    max-height: 25%;
}
#text-block{
    margin: 20%;
}